* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff8f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color:  #ff7aa0;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    height: 50px; /* Altura da Logo */
    width: auto; /* Largura da Logo */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    flex-wrap: wrap; /* quebra a linha quando tela menor*/
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

